---
import { Icon } from "astro-icon/components";

const items = [
  { title: "¿Qué es?", link: "/" },
  { title: "Experiencias Globales", link: "/experiencias-globales/" },
  { title: "Ruta Internacional", link: "/ruta-internacional/" },
];
---
<header class="bg-black w-full border-b border-black z-20">
  <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 md:px-5 text-white" x-data="{ isOpen: false }" @click.away="isOpen = false">
    <a href={'/'} aria-label="Inicio" class="py-5">
      <Icon name="logo" class="w-40 md:w-82 h-full text-white" />
    </a>

    <div class="flex items-center">
      <button class="ps-4 py-4 text-white md:hidden" x-cloak @click="isOpen = !isOpen" aria-label="Abrir menú">
        <span x-show="!isOpen">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
        </span>
        <span x-show="isOpen" x-cloak>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </span>
      </button>

      <div class="hidden md:flex items-center gap-6">
        {items.map((item) => (
          <a href={item.link} class="py-4 hover:text-dorado transition-colors duration-200" aria-label={item.title}>
            {item.title}
          </a>
        ))}
      </div>
    </div>

    <div
      x-cloak
      x-show="isOpen"
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="transform opacity-0 -translate-y-2"
      x-transition:enter-end="transform opacity-100 translate-y-0"
      x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="transform opacity-100 translate-y-0"
      x-transition:leave-end="transform opacity-0 -translate-y-2"
      class="absolute inset-x-0 top-full bg-black border-t border-black md:hidden z-30"
    >
      <div class="flex flex-col gap-2 px-6 py-4">
        {items.map((item) => (
          <a href={item.link} class="py-2 hover:text-dorado transition-colors duration-200" aria-label={item.title}>
            {item.title}
          </a>
        ))}
      </div>
    </div>
  </nav>
</header>
